@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.heading {
  font-family: "PT Serif", serif;
}

.logo {
  font-family: "Frank Ruhl Libre", serif;
}

.title {
  font-family: "Bacasime Antique", serif;
}
